@model AdminLTE.Models.TES

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> @ViewBag.tanggal </title>
</head>
<body>


    <a href=" ../TES/Create"></a>
    <div>
            <table>
                <tr>
                    <th> Created_by </th>
                </tr>
            </table>
            <tbody>
                @*@foreach (var subtes in Model)
                {
                    <tr>
                        <td>
                            @subtes.NAMA_TES
                        </td>
                        
                        <td>
                            @subtes.TGL_TES
                        </td>
                    </tr>
                }*@
            </tbody>

        </div>

</body>
</html>
