
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Main content -->

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">PILIHAN SOAL</h3>
                </div>

                <!-- form start -->
                <div class="box-header with-border">
                    <div class="col-md-4">
                        <div class="box-body">
                            <div class="form-group">
                                <label>Kelompok Soal</label>
                                <select class="form-control">
                                    <option>Matematika</option>
                                    <option>Psikotes</option>
                                    <option>Fisika</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="box-body">
                            <div class="form-group">
                                <label>Kelompok Sub</label>
                                <select class="form-control">
                                    <option>Sub 1</option>
                                    <option>Sub 2</option>
                                    <option>Sub 3</option>
                                    <option>Sub 4</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="box-body">
        <table class="text-center">
            <table id="example2" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <TH> </TH>
                        <th>No</th>
                        <th>NAMA</th>
                        <th>EMAIL</th>
                        <th>PASSWORD</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>1</td>
                        <td>Rasyid Maulid</td>
                        <td>rasyid@gmail.com</td>
                        <td>1a2b3c</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>2</td>
                        <td>Risang Ramada</td>
                        <td>risang@gmail.com</td>
                        <td>4d5e6f</td>

                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>3</td>
                        <td>Zelina Yasinta</td>
                        <td>zelina@gmail.com</td>
                        <td>7g8h9i</td>
                    </tr>

                </tbody>

            </table>
        </table>
    </div>

    <div class="box-body">
        <table id="example2" class="table table-bordered table-hover">
            <div class="box-header">
                <h3 class="box-title">TAMPILAN PESERTA YANG DIPILIH</h3>
            </div>
            <thead>
                <tr>
                    <th>No</th>
                    <th>NAMA</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td>1</td>
                    <td>Rasyid Maulid</td>

                    <td><button type="sub" class="btn btn-primary">Delete</button> </td>
                </tr>
                <tr>

                    <td>2</td>
                    <td>Risang Ramada</td>

                    <td>  <button type="submit" class="btn btn-primary">Delete</button> </td>

                </tr>
                <tr>

                    <td>3</td>
                    <td>Zelina Yasinta</td>

                    <td>  <button type="submit" class="btn btn-primary">Delete</button> </td>
                </tr>

            </tbody>

        </table>
    </div>
    <!-- /.content -->
